.drink-item {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.drink-item:hover,
.drink-item:focus,
.drink-item:active {
	border: 2px solid #6000bf	;
}

.drink-item img {
	height: 50px;
	width: 50px;
	margin: 10px 20px 10px 0;
}
