.drink-choice-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.drink-choice-container p:first-child {
	font-size: 1.5rem;	
	font-weight: 500;
}

.drink-choice-container p:last-child {
	font-style: italic;
}

.drink-choice-container img {
	 width: 100px;
	height: 100px;
}
